[submodule "third/llhttp"]
	path = third/llhttp
	url = https://github.com/nodejs/llhttp.git
	branch = release
	ignore = untracked
[submodule "dep/simple-net-lib"]
	path = dep/simple-net-lib
	url = https://github.com/gszj2018/simple-net-lib.git
	branch = v1fix2
[submodule "third/base64"]
	path = third/base64
	url = https://github.com/aklomp/base64.git
